/*declare Starborn font*/
@font-face {
  font-family: Starborn;
  src: url(Starborn.ttf);
}

/*make responsive for smaller screens*/
@media (max-width: 800px) {
  .twoBoxes {
    flex-direction: column;
    min-width: 60vw;
    min-height: 70vh;
  }

  .oneBox {
    flex-direction: column;
    min-width: 60vw;
    min-height: 70vh;
  }
}

/*css reset*/
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/*whole page formatting*/
body {
  background-image: url(images/background.jpg);
  background-size: cover;
  font-family: "Comfortaa", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

/*header and nav formatting*/
header {
  width: 100%;
}

header div {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 10%;
  margin-left: 10%;
}

nav {
  width: 80%;
}

nav li{
  font-family: "Starborn", sans-serif;
  list-style-type: none;
  display: inline;
  font-size: 3em;
  padding-left: 5%;
}

a {
  text-decoration: none;
  color: white;
}

/*name display*/
h1 {
  text-align: center;
  padding-top: 1%;
  font-size: 2.5em;
  color: white;
  text-shadow: 0 0 0.25em rgb(255, 156, 64);
}

/*main display formatting for all pages*/
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

main section {
  background-color: rgba(0, 0, 0, 0.85);
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 3em rgb(255, 156, 64);
  text-align: center;
}

h2 {
  margin-top: 2%;
  font-size: 2.0em;
  font-family: "Starborn", sans-serif;
}

main section p {
  font-size: 1.5em;
  margin: 2em 3em;
}

/*formatting for pages with two content boxes*/
.twoBoxes {
  width: 35vw;
  height: 60vh;
}

/*formatting for pages with one content box*/
.oneBox {
  width: 40vw;
  height: 50vh;
}

/*example project photo formatting*/
.projectPic {
  width: 60%;
}

figure {
  display: block;
  margin: 5%;
}

/*footer formatting for all pages*/
footer {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.8);
  height: 2%;
  text-align: center;
  padding: 1%;
}